.btn {
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 1.2rem;
  padding: 7px 24px;
  text-decoration: none;
  background: #3473af;
  border: none;
  min-width: 9rem;
}

.btn:hover:enabled {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  transition: 0.2s;
  background-color: #0256a6;
}

.btn:active {
  position: relative;
  top: 2px;
}

.btn:focus {
  -webkit-transform: none;
  outline: none;
  transform: none;
}

.btn:disabled {
  background-color: #7f8596;
}

.on {
  background-color: #34af48;
}
