.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
  margin-bottom: 4rem;
}

.editor {
  margin: 0.5rem auto;
}

.colorExamples {
  margin: 0.3rem;
}

.colorExample {
  display: flex;
  margin: 0.3rem auto;
}

.colorBox {
  margin-right: 0.3em;
  margin-top: 0.1em;
}

.checkboxes {
  overflow: auto;
}

.testMethods {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  height: 0;
}

.test {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 0.1em;
}
