.container {
}

.main {
  max-width: 960px;
  margin: 1rem auto;
  padding: 0 1rem;
}

/*--------------------------------------------------------------------------------*/
.editors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
  margin-bottom: 4rem;
}

#logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.1em 1em;
  background-color: #343440;
  height: 4rem;
}

#logo img {
  width: 60px;
}

.title h1 {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-left: 0.3em;
  font-family: arial, sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: var(--header-contents-color);
}

.title:hover h1 {
  color: var(--header-contents-color-hovered);
}

.icons {
  margin-right: 1rem;
  margin-left: auto;
}

#ctrl {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  gap: 0.5rem;
}

@media (max-width: 959px) {
  .editors {
    grid-template-columns: repeat(1, 1fr);
  }
}
