.container {
}

.main {
  max-width: 960px;
  margin: 1rem auto;
  padding: 0 1rem;
}

/*--------------------------------------------------------------------------------*/
.editors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
  margin-bottom: 4rem;
}

#logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.1em 1em;
  background-color: #343440;
  height: 4rem;
}

#logo img {
  width: 60px;
}

.title h1 {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-left: 0.3em;
  font-family: arial, sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: var(--header-contents-color);
}

.title:hover h1 {
  color: var(--header-contents-color-hovered);
}

.icons {
  margin-right: 1rem;
  margin-left: auto;
}

#ctrl {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  gap: 0.5rem;
}

@media (max-width: 959px) {
  .editors {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*--------------------------------------------------------------------------------*/
/* https://codepo8.github.io/css-fork-on-github-ribbon/ */
#forkongithub {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 200px;
  overflow: hidden;
  height: 200px;
  z-index: 9999;
}

#forkongithub a {
  background: #1b1d21;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.2s;

  width: 320px;
  position: absolute;
  top: 50px;
  right: -90px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: 999;
}

#forkongithub a:hover {
  background: #3473af;
  color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media (max-width: 1023px) {
  #forkongithub {
    display: none;
  }
}
